<ion-content [fullscreen]="true" class="background-image">
  <div class="content-wrapper">
    <div class="page-title">Restablecimiento de Contraseña</div>
    
    <div class="auth-container">
      <!-- Texto descriptivo -->
      <p class="description-text">Ingresa tu correo electrónico para recibir un enlace de restablecimiento de contraseña</p>

      <form class="form-container">
        <!-- Correo electrónico -->
        <div class="input-container">
          <ion-item lines="none" class="custom-input">
            <ion-input type="email" placeholder="Correo electrónico" [(ngModel)]="email" name="email"></ion-input>
            <ion-icon slot="end" name="mail-outline"></ion-icon>
          </ion-item>
        </div>

        <!-- Botón de Enviar -->
        <ion-button expand="block" 
                    (click)="reset()" 
                    class="auth-button">
          ENVIAR
        </ion-button>

        <!-- Enlace para volver -->
        <div class="auth-link">
          <a [routerLink]="['/login']">Volver al inicio de sesión</a>
        </div>
      </form>
    </div>
  </div>
</ion-content>