<ion-content [fullscreen]="true" class="landing-background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="landing-container">
    <img src="assets/images/APPCHECK.png" alt="Logo" class="logo" />

    <h1 class="welcome-title">Gestión Eficiente</h1>
    
    <p class="info-text">Registra asistencia y agenda reuniones de manera sencilla.</p>
    
    <button class="button" routerLink="/login">Iniciar Sesión</button>
  </div>
</ion-content>






